.logo {
    padding-top: 21px; 
}

.logo-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.start-btn {
    margin-bottom: 7px;
    padding-top: 1px;
    border-radius: 5px;
    right: 232px;
    position: absolute;
    width: 113px;
    height: 40px;
    font-family: Roboto Condensed;
    font-size: 17px;
    font-weight: bold;
    color: beige;
    background-color: rgb(58, 56, 56);
    cursor: pointer;
    outline: none;
}
.start-btn:hover {
    color: aqua;
    outline: none;
    background: rgb(39, 39, 39);
    /* border: 1px solid black; */
    transition: all 0.3s ease-out;
}

.fake-input {
    position: relative;
    width: 175px;
    float: right;
}
.fake-input input {
    border: none;
    background: #fff;
    width: 99%;
    box-sizing: border-box;
    right: 10px;
}
.fake-input img {
    position: absolute;
    top: -35px;
    right: -133px;
}

.count{
    float: right;
    cursor: pointer;
}

.container {
    text-align: center;
    color: blanchedalmond;cursor: pointer;
  }

.main_container{
    height:40px;
    width: auto;
    padding: 0px;
    margin: 900px;
    max-width: 200px;
    background-color: #55ACEE;
    align-content: center;
    display: inline;
    margin:1px 1px 1px 1px;
    font-weight: bolder;
    cursor: pointer;
}

input {
    -webkit-appearance: textfield;
    background-color: rgb(243, 240, 240);
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    height: 39px;
    border-radius: 5px;
}

.container_inner{
    height: auto;
    border: none;
    background-color: rgb(243, 237, 237);
    vertical-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4px;
    display: inline;
    cursor: pointer;
}

.num_tiles{
background-color:  rgb(243, 237, 237);
color: #5B7BD5;
font-size: 18px;
text-align: center;
line-height: 15px;
padding: 1px;
margin: 1px;
font-family:verdana;
vertical-align:center;
font-weight: bolder;
cursor: pointer;
}
/* Navbar css updated */
.nav {
    background-color: rgb(68, 67, 67);
    padding: 0px;
    text-align: center;
    border-radius: 3px;
    margin-top: 3px;
    padding-bottom: 1px;
}

.nav-box {
    color: beige;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 33px;
    margin-top: 6px;
}
.nav-box a {
    color: inherit;
    text-decoration: none;
    background-color: rgb(58, 56, 56);
    padding: 9px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 1px;
}

hr {
    border: 5px solid rgb(210, 211, 210);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

table {
    margin: 1px 1px 1px 1px;
}
.section1 {
    margin: 0 auto;
    background-color: rgb(192, 185, 185);
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
}
  
h3 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: normal;
    color: rgb(93, 93, 93);
    cursor: pointer;
}
.section2 {
    padding-left: 10px;
    padding-right: 10px;
}
.section3 {
    margin: 0 auto;
    background-color: rgb(192, 185, 185);
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.page-footer {
    background-color: rgb(56, 56, 56);
    border-radius: 3px;cursor: pointer;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    width: 15px;
    cursor: pointer;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
    width: 15px;
    cursor: pointer;
}
  
.fa-google {
    background: rgb(187, 43, 43);
    color: white;
    border-radius: 50%;
    width: 15px;
    cursor: pointer;
}
  
.fa-rss {
    background: orange;
    color: white;
    border-radius: 50%;
    width: 15px;
    cursor: pointer;
}

.fa-youtube {
    background: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    cursor: pointer;
}
.fa:hover {
    opacity: 0.7;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
    background-color: rgb(58, 56, 56);
    padding: 9px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 1px;
}
a:hover {
    color: aquamarine;
}

/* Newpage.html */
.details p{
    color: rgb(70, 70, 70);
    margin-left:80px;
    margin-right:80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}
  
.details img{
    float: right;
      position: relative;
      right: 100px;
      top: 28px;
      cursor: pointer;
}
.graf-dropCap {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-weight: bolder!important;
    font-size: 30px;
    cursor: pointer;
}
#like_button{
  margin-left:77px;
  width:40px;
  height:40px;
  border-radius:100%;
  padding:4px;
  background-color:white;
  cursor: pointer;
}
#dislike_button{
  margin-left:2px;
  width:40px;
  height:40px;
  border-radius:100%;
  padding:4px;
  background-color:white;
  cursor: pointer;
}
.aboutus {
    font-size: 10px;
    cursor: pointer;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
  
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    cursor: pointer;
}
  
.loginBtn:focus {
    outline: none;
    cursor: pointer;
}
  
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
    display: table;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}
  
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    cursor: pointer;
}
  
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
    cursor: pointer;
}