.logo {
    padding-top: 21px; 
}

.logo-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.start-btn {
    margin-bottom: 7px;
    padding-top: 1px;
    border-radius: 5px;
    right: 232px;
    position: absolute;
    width: 113px;
    height: 40px;
    font-family: Roboto Condensed;
    font-size: 17px;
    font-weight: bold;
    color: beige;
    background-color: rgb(58, 56, 56);
    cursor: pointer;
    outline: none;
}

.fake-input {
    position: relative;
    width: 175px;
    float: right;
}
.fake-input input {
    border: none;
    background: #fff;
    width: 99%;
    box-sizing: border-box;
    right: 10px;
}
.fake-input img {
    position: absolute;
    top: -35px;
    right: -133px;
}

.count{
    float: right;
    cursor: pointer;
}

.main_container{
    height:40px;
    width: auto;
    padding: 0px;
    margin: 900px;
    max-width: 200px;
    background-color: #55ACEE;
    align-content: center;
    display: inline;
    margin:1px 1px 1px 1px;
    font-weight: bolder;
    cursor: pointer;
}

input {
    -webkit-appearance: textfield;
    background-color: rgb(243, 240, 240);
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    height: 39px;
    border-radius: 5px;
}

.container_inner{
    height: auto;
    border: none;
    background-color: rgb(243, 237, 237);
    vertical-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4px;
    display: inline;
    cursor: pointer;
  }
  
  .num_tiles{
    background-color:  rgb(243, 237, 237);
    color: #5B7BD5;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
    padding: 1px;
    margin: 1px;
    font-family:verdana;
    vertical-align:center;
    font-weight: bolder;
    cursor: pointer;
  }